security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        login:
            pattern: ^/auth
            stateless: true
            security: false

        main:
            pattern: ^/
            lazy: true
            provider: app_user_provider
            stateless: true
            jwt: ~

    # Note: Only the *first* matching rule is applied
    access_control:
        # Routes publiques (sans authentification)
        - { path: ^/auth, roles: PUBLIC_ACCESS }
        - { path: ^/user$, roles: PUBLIC_ACCESS, methods: [POST] }

        # Routes accessibles aux utilisateurs authentifiés (ROLE_USER ou ROLE_ADMIN)
        - { path: ^/conseil, roles: ROLE_USER, methods: [GET] }
        - { path: ^/meteo, roles: ROLE_USER }

        # Routes réservées aux administrateurs
        - { path: ^/conseil, roles: ROLE_ADMIN, methods: [POST, PUT, DELETE] }
        - { path: ^/user/\d+, roles: ROLE_ADMIN, methods: [PUT, DELETE] }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
